[Desktop Entry]
Name=Notify App
GenericName=Notify App
Comment=Proves that we can use Vala and Gtk
Categories=GTK;Utility;
Exec=com.github.rugglcon.notify-app
Icon=application-default-icon
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=hello-again
Keywords=Hello;World;Example;
X-GNOME-UsesNotifications=true
